<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/reuse.css}" rel="stylesheet">
    <link th:href="@{/css/register.css}" rel="stylesheet">
    <title>Đăng kí</title>

</head>
<body>
	<div th:replace="header2.html :: header2"></div>
    <div class="distance2"></div>
    <div class="register">
        <br>
        <h1>Đăng kí</h1>
        <br>
        <ul th:if="${error != null}" class="error">
            <li th:text="${error}" style="color: red;"></li>
        </ul>
        <form th:action="@{/do-register}" method="post">
            <div class="frame">
                <div class="frame_1">
                    <label for="firstname">Họ: <span>*</span></label>
                    <input type="text" name="firstname" id="">
                </div>
                <div class="frame_1">
                    <label for="midname">Tên đệm: </label>
                    <input type="text" name="midname">
                </div>
                <div class="frame_1">
                    <label for="lastname">Tên: <span>*</span></label>
                    <input type="text" name="lastname" id="">
                </div>
            </div>
            <div class="frame">
                <div class="frame_2">
                    <label for="username">Tên đăng nhập: <span>*</span></label>
                    <input type="text" name="username" id="">
                </div>
                <div class="frame_2">
                    <label for="phone">Số điện thoại: <span>*</span></label>
                    <input type="tel" name="phone" id="">
                </div>
            </div>
            <div class="frame">
                <div class="frame_3">
                    <label for="email">Email: <span>*</span></label>
                    <input type="email" name="email" id="">
                </div>
            </div>
            <div class="frame">
                <div class="frame_2">
                    <label for="password">Mật khẩu: <span>*</span></label>
                    <input type="password" name="password" id="">
                </div>
                <div class="frame_2">
                    <label for="password2">Xác nhận lại mật khẩu: <span>*</span></label>
                    <input type="password" name="password2" id="">
                </div>
            </div>
            <button type="submit">Đăng kí</button>
        </form>
        <p>
            <span>Bạn đã có tài khoản?</span>
            <span><a th:href="@{/login}">Đăng nhập</a></span>
        </p>
    </div>
</body>
</html>